    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Portfolio/css/style.css">
    <link rel="stylesheet" href="/Portfolio/css/components/footer.css">
</head>
    
    <!-- Footer -->
    <footer class="footer">
      <div class="footer-cta">
        <div class="cta-links">
          <a href="https://www.www.linkedin.com/in/mustafa-laxmidhar1" target="_blank" rel="noopener noreferrer">
            <img src="/Portfolio/assets/images/icons/linkedin.png" alt="LinkedIn" />
          </a>
          <a href="https://github.com/MustafaLaxmidhar" target="_blank" rel="noopener noreferrer">
            <img src="/Portfolio/assets/images/icons/github.png" alt="GitHub" />
          </a>
          <a href="mailto:mufasalaxmidhar@gmail.com">
            <img src="/Portfolio/assets/images/icons/mail.png" alt="Email Me" />
          </a>
        </div>
      </div>
      <div class="footer-note">
        <p>&copy; 2025 Mustafa Laxmidhar. All rights reserved.</p>
      </div>
    </footer>