<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/components/navbar.css">
</head>
<body>

    <nav class="custom-nav">
        <div class="home-ribbon">
        <img src="assets\images\icons\Basketball.gif" alt="Basketball"/>    
        <a href="index.html">&Mu;&mu;</a>
        </div>
        <div class="nav-trigger">
            <div class="hamburger"></div>
            <ul class="nav-list">
                <li><a href="about.html">About Me</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="photography.html">Photography</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </nav>

    <script src="js/loadNavbar.js"></script>
</body>
</html>
