.footer {
  background-color: #3d3d3d; /* Light background color */
  padding: 20px 40px;
  border-top: 1px solid #ddd; /* Optional: subtle border at the top */
}

.footer {
  display: flex;
  justify-content: space-between; /* Space between icons and copyright */
  align-items: center;
}

.cta-links {
  display: flex;
  gap: 40px; /* Space between icons */
}

.cta-links a img {
  width: 30px; /* Set the width of the icons */
  height: 30px; /* Set the height of the icons */
  filter: invert(1);
  transition: transform 0.3s ease; /* Add a hover effect */
  border-radius: 0px;
}

.cta-links a img:hover {
  transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

.footer-note {
  font-size: 0.9rem;
  color: #777;
}