.bio-container {
    display: flex;
    align-items: space-evenly;
    padding: 2rem;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.bio-text p {
    color: #222;
}

h2 {
    color: #fff;
}