.gallery-container {
  width: 95%;
  justify-self: center;
  column-count: 3;
  column-gap: 16px;
}

.gallery-container img {
  width: 100%;
  margin-bottom: 16px;
  break-inside: avoid;
  border-radius: 8px; /* optional for polish */
  transition: filter 0.3s ease;
}


.gallery-container img:hover {
  filter: grayscale(0.6);

  /* Force Lightbox UI to show */
.lb-close {
  z-index: 9999 !important;
  display: block !important;
  pointer-events: auto !important;
}

}

.gallery-animate {
  transform: translateY(30px);
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out;
}

.gallery-animate.animate {
  transform: translateY(0);
  opacity: 1;
}

/* Responsive Styles */
@media (max-width: 900px) {
  .gallery-container {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .gallery-container {
    column-count: 1;
  }
}

