.photo-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    aspect-ratio: 5 / 2; /* This locks the card height */
    background: #222;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-decoration: none; /* remove underline */
     color: inherit;         /* prevent blue/purple link color */
    display: flex;          /* keep flex layout */
    margin-bottom: 30px;
}

.card-image {
    flex: 0 0 85%;
    height: 100%;
    width: 85%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.photo-card:hover img{
    filter: grayscale(1);
    transition: filter 0.5s ease;
}

.card-content {
    flex: 0 0 15%;
    background: #222;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 1rem;
    border-left: 4px solid #a22;
    height: 100%;
}

.card-content h3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
}

/*---------------------------------------------
 Responsive Design 
---------------------------------------------*/

@media (max-width: 768px) {
    .photo-card {
        flex-direction: column;
        aspect-ratio: auto; /* Let height grow naturally */
    }

    .card-image {
        width: 100%;
        height: auto;
        flex: none;
    }

    .card-content {
        width: 100%;
        border-left: none;
        border-top: 4px solid #a22; /* Switch to horizontal line */
        flex: none;
    }

    .card-content h3 {
        font-size: 1.8rem;
    }
}

